<p>
  <strong>Request_for:</strong>
  <%= @leave.Request_for %>
</p>
 
<p>
  <strong>from:</strong>
  <%= @leave.from %>
</p>

<p>
  <strong>to:</strong>
  <%= @leave.to %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @leave.Reason %>
</p>