<!-- <h1>Apps#new</h1> -->
<div class="card-body">
	<div class="leave">
<div class="vc_col-md-3 app-tile wpb_column column_container col padding-3 color-light"  " data-animation="" data-delay="">
		<div class="wpb_wrapper">
			<h1 class="headline font-inherit fontsize-xxl fontweight-inherit lh-inherit align-left transform-inherit " style="margin: 30px 0 20px 0;">Leave Management</h1>
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<p>App to plan your time-off and keep all relevant stakeholders informed</p>

		</div>
	</div>
</div>
<a href="\leaves\new" target="_self" class="button color-8 small " style="border-radius: 2px;">Launch</a><div class="spacer" style="height: 40px;"></div>

</div>
</div>
