
 


<!-- 
 <div class="card-body"> -->
<div  class="wpb_row vc_row-fluid full-width-section section  section-no-parallax  stretch   " data-speed="1" style="background-color: #007ea7; padding-top: 50px; padding-bottom: 50px; "><div class="col span_12 color-light left">
  <div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
    <div class="wpb_wrapper">
      <h1 class="headline font-inherit fontsize-xxxxl fontweight-500 lh-12 align-center transform-uppercase " style="margin: 0 0 20px 0;">The future of collaborative development is here!</h1>
    </div> 
  </div> 
</div>
</div>


<!-- <div class="row">
    <div class="col-md-6"> -->
      <div class="idea">
      <h4>Ever wanted an App to apply for your leave from the convenience of your phone? Or to make a request for a training? Are you waiting to see if the profile you sent has been shortlisted for an interview? Or do you want to know if your manager has approved your travel request?<br />
Corridor Enterprise Version3 (CEV3) presents you an opportunity to contribute to an App idea; spec out the requirements; collaborate with your fellow developers; interface with the backend using an App SDK or APIs; and, build out stylish, multi-device, responsive web Apps and mobile Apps.
</h4>
</div>
<!-- </div> -->



<!-- <div class="row">
    <div class="col-md-6"> -->
   <div class="single_image wpb_content_element   animate   " data-animation="fade-in-from-bottom" data-delay="20">
    <img width="400" height="449" src="https://corridor.pramati.com/wp-content/uploads/2014/01/letsbuild-card.png" class="attachment-full" alt="" srcset="https://corridor.pramati.com/wp-content/uploads/2014/01/letsbuild-card.png 400w, https://corridor.pramati.com/wp-content/uploads/2014/01/letsbuild-card-267x300.png 267w" sizes="(max-width: 400px) 100vw, 400px" />
      <h4 style="text-align: justify;">Today’s business demands software to be delivered at the speed of consumer apps. Gone are the days where a separate IT team would interface with the end users and stakeholders to draw out the requirements and roll out software. Today’s technology advances empower the business users to be the collaborators in building out software, which evolves with changing needs. This is the era of ‘consumerisation of IT’. And who better to deliver on this than YOU? And what better platform to build out an App than our own WaveMaker platform?</h4>
</div>
    
  <!-- </div>
</div>
</div> -->


